     body {
         background-color: #3A4041;
         color: #4EB8BF;

     }

strong {
    color: #22D4FD;
}

span{
            color: #22D4FD;
            border: 1px solid #22D4FD;
            padding: 10px;
}